<div class="menu" n:if="!empty($items)">
	<div class="menu__inner">
	{foreach $items as $item}
		{var $page = $item[page]}
		<a n:if="$page->hasLink()" href="{$linkGenerator->getUrl($page->getLink())}" n:class="menu__item, $item[active] ? 'menu__item--active'">{$page->getLabel()}</a>
		<span n:if="!$page->hasLink()" n:class="menu__item, $item[active] ? 'menu__item--active'">{$page->getLabel()}</span>
	{/foreach}
	</div>
</div>
